<div class="zoom-product-wrapper">
    <div class='zoom-in-out-icon' id="{{ prod.id }}">
        <i class="fa fa-search" aria-hidden="true">

        </i></div>
    <div class="product-wrapper" id="{{ prod.id }}">
        <div class="image-wrapper">
            {% if prod.img %}
                <img id={{ prod.id }} class='{{ prod.availability }}' src="{{ prod.img.url }}" alt="">
            {% endif %}
            <div id='available-{{ prod.availability }}' class="not-available-mark">X</div>
        </div>
        <div class="product-name-brand">{{ prod.name }}
            {% if prod.brand %}
                от {{ prod.brand }}
            {% endif %}
        </div>
        <div class="product-buttons">
            <a href="{% url 'remove product' prod.pk %}" class="delete-product"><i
                    class="fas fa-trash-alt"></i></a>
            {% if prod.customized_prod %}
                <a href="{% url 'update product' prod.pk %}" class="edit-product"><i
                        class="fas fa-edit"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
