<div class="zoom-product-wrapper slider-items">
    <div class='zoom-in-out-icon' id="{{ prod.id }}">
        <i class="fa fa-search" aria-hidden="true">

        </i></div>
    <div class="product-wrapper" id="{{ prod.id }}">
        <div class="image-wrapper">
            {% if prod.img %}
                <img id={{ prod.id }} class='{{ prod.availability }}' src="{{ prod.img.url }}" alt="">
            {% endif %}
            <div id='available-{{ prod.availability }}' class="not-available-mark">X</div>
        </div>
            <div class="product-name-brand"><span class="product-name">{{ prod.name }}</span>
        {% if prod.brand %}
            <span class="product-brand">{{ prod.brand }}</span>
        {% endif %}
    </div>
        <div class="product-buttons">
            <a href="{% url 'remove product' prod.pk %}" class="delete-product"><i
                    class="fas fa-trash-alt"></i></a>
            <div class="product-counter-wrapper">
                <div class="product-counter-detract"><i class="fas fa-angle-down"></i></div>
                <div class="product-count" id="{{ prod.pk }}">
                {{ prod.counter }}
                    </div>
                <div class="product-counter-add"><i class="fas fa-angle-up"></i></div>
            </div>

            {% if prod.customized_prod %}
                <a href="{% url 'update product' prod.pk %}" class="edit-product"><i
                        class="fas fa-edit"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
