@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

* {
    margin: 0;
    padding: 0;
}

.root {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(57, 145, 181);
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 100px;
    font-size: larger;
    color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-bar-container h1{
    text-decoration: none;
    font-family: 'Kalam', sans-serif;
    color: white;
}

.nav-bar-list {
    display: flex;
    list-style-type: none;
    align-items: baseline;
}

.nav-bar-list li a {
    margin-right: 25px;
    color: white;
}

@media all and (max-width: 700px) {
    .nav-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}