.info-about-site {
    margin: 40px;
}


.info-about-site p {
    text-align: center;
    font-family: 'Kalam', sans-serif;
}

.info-about-site .text-main {
    font-size: 20px;
}

.info-about-site .text-muted {
    font-size: 15px;
}

.cute-signs {
    color: rgb(57, 145, 181);
    margin-top: -20px;
}

.reset-default {
    margin-left: 100px;
}

.add-product-popup {
    display: none;
    font-family: 'Kalam', sans-serif;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    border-radius: 4px;
    background-color: white;
    position: absolute;
    left: 70px;
    top: 430px;
    z-index: 1;
}

.edit-create-product {
    display: none;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    border-radius: 4px;
    background-color: white;
    position: relative;
    left: -80px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;

}

.fridge-wrapper, .pantry-wrapper {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    margin: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(57, 145, 181, 0.75);
    border-radius: 4px;
}

.fridge-wrapper p, .pantry-wrapper p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Kalam', sans-serif;
    color: pink;
    text-shadow: 2px 0 black;
    font-size: 25px;

}

.fridge-wrapper h3, .pantry-wrapper h3 {
    text-align: center;
    margin: 10px;
}

.fridge-wrapper section, .pantry-wrapper section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    border-radius: 4px;

}

/*.add-product {*/
/*    height: fit-content;*/
/*    background-color: rgb(23, 162, 184);*/
/*    color: white;*/
/*    padding: 3px 10px;*/
/*    border-radius: 4px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.save-product-changes {*/
/*    height: fit-content;*/
/*    background-color: rgb(23, 162, 184);*/
/*    color: white;*/
/*    padding: 3px 10px;*/
/*    border-radius: 4px;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

.save-product-changes, .add-product {
    color:  darkblue;;
    font-size: 30px;
}


.zoom-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 250px;

    border-radius: 4px;
    margin: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgb(57, 145, 181);
}


.product-wrapper {
    height: 200px;
    width: 150px;
    border-radius: 4px;

}

.image-wrapper, .image-wrapper-no-click {
    height: 130px;

}

.image-wrapper:hover, .delete-product:hover, .edit-product:hover {
    cursor: pointer;
}

.product-wrapper img {
    width: 100%;
    height: 85%;
    margin-top: 10px;
    border-radius: 4px;
}

.image-wrapper .False {
    opacity: 0.5;
}

.product-wrapper a {
    height: 30px;
}

.product-wrapper div {
    text-align: center;
    font-family: 'Kalam', sans-serif;
    margin: 0 5px;
    align-items: baseline;
}
.product-name-brand {
    min-height: 50px;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
}

.delete-product {
    color: indianred;
}

.product-counter-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.product-counter-add, .product-counter-detract {
    font-size: 20px;
}

.product-count {
    margin: 10px;
    color: rgb(247, 176, 187);
    height: fit-content;
    padding: 2px;
    border-radius: 2px;
}


.edit-product {
    color: forestgreen;
}

#available-True {
    display: none
}

#available-False {
    display: block;
    position: relative;
    font-size: 100px;
    color: indianred;
    margin-top: -110px;
}

.zoom-in-out-icon {
    color: darkblue;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
}

.large {
    transform: scale(2.5);
    background-color: white;
}

.upper-buttons-wrapper {
    display: block;
}

.burger-menu-save-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 10px;
}

.burger-btn-wrapper {
    padding: 5px;
    display: none;
    /*margin: 50px;*/
}


.nav-wrapper-links {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: fit-content;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    padding: 10px;
    position: absolute;
    margin-top: -35px;
    margin-left: 40px;
    background-color: white;
}

.nav-wrapper-links li {
    list-style: none;
}

.drop-down-menu-closebtn {
    color: indianred;
    font-size: 40px;
    margin-left: 15px;

}

.burger-menu-upper-buttons {
    display: block;
    /*margin: 50px;*/

    color: darkblue;
    font-size: 40px;
}

.add-save-buttons-sticky {
    display: flex;
    background-color: white;
    margin: 0 10px;
        align-items: baseline;
}

.add-save-buttons-sticky .add-product {
    margin-bottom: 5px;
    margin-right: 20px;
}


.add-save-buttons-sticky .add-product:hover, .add-save-buttons-sticky .save-product-changes:hover {
    color: #0056b3;
    text-decoration: none;
    border: none;
    outline: none;
}

.link-to-scroll {
    color: darkblue;
    font-style: italic;
    font-weight: bolder;
}

.link-to-scroll:hover {
    color: darkblue;
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
}
    .slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        overflow-y: hidden;
    }

    .slider-items {
        flex-shrink: 0;
        scroll-snap-align: start;
    }

@media all and (max-width: 800px) {
    .content-container {
        display: flex;
        margin: 0 30px;
        flex-direction: column;
    }

    .upper-buttons-wrapper {
        display: none;
    }

    .burger-menu-upper-buttons {
        display: block;
        /*margin: 50px;*/
        color: darkblue;
        font-size: 40px;
    }


    .fridge-wrapper, .pantry-wrapper {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        margin: 10px;
        flex-direction: column;
        box-shadow: 0px 0px 5px 0px rgba(57, 145, 181, 0.75);
        border-radius: 4px;

    }

.zoom-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 250px;

    border-radius: 4px;
    margin: 5px 5px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgb(57, 145, 181);
}


    #available-False {
    display: block;
    position: relative;
    font-size: 100px;
    color: indianred;
    margin-top: -110px;
    }

    .add-product-popup {
        display: none;
        font-family: 'Kalam', sans-serif;
        width: 300px;
        padding: 50px;
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: fixed;
        left: 28px;
        top: 250px;
        z-index: 1;
    }

    .edit-create-product {
        display: none;
        transform: scale(0.5);
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: relative;
        top: -140px;
        left: -70px;
    }

    .slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .slider-items {
        flex-shrink: 0;
        scroll-snap-align: start;
    }
}

@media all and (max-width: 630px) {

    .add-product-popup {
        display: none;
        font-family: 'Kalam', sans-serif;
        transform: scale(0.8);
        padding: 50px;
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: fixed;
        left: 28px;
        top: 240px;
        z-index: 1;
    }


}

@media all and (max-width: 540px) {

    .add-product-popup {
        display: none;
        font-family: 'Kalam', sans-serif;
        transform: scale(0.8);
        padding: 50px;
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: fixed;
        left: 28px;
        top: 270px;
        z-index: 1;
    }
}

@media all and (max-width: 350px) {
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

}


