.info-about-site {
    margin: 40px;
}


.info-about-site p {
    text-align: center;
    font-family: 'Kalam', sans-serif;
}

.info-about-site .text-main {
    font-size: 20px;
}

.info-about-site .text-muted {
    font-size: 15px;
}

.reset-default {
    margin-left: 100px;
}

.add-product-popup {
    display: none;
    font-family: 'Kalam', sans-serif;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    border-radius: 4px;
    background-color: white;
    position: absolute;
    left: 70px;
    top: 430px;
    z-index: 1;
}

.edit-create-product {
    display: none;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    border-radius: 4px;
    background-color: white;
    position: relative;
    left: -80px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;

}

.fridge-wrapper, .pantry-wrapper {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    margin: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(57, 145, 181, 0.75);
    border-radius: 4px;
}

.fridge-wrapper h3, .pantry-wrapper h3 {
    text-align: center;
    margin: 10px;
}

.fridge-wrapper section, .pantry-wrapper section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    border-radius: 4px;

}

.add-product {
    margin: 30px;
}

.burger-menu-upper-buttons {
    display: block;
    margin: 50px;
    color: darkblue;
    font-size: 40px;
}


.burger-btn-wrapper a {
    margin: 0;
    padding: 5px;
}

.zoom-product-wrapper {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.product-wrapper {
    height: 200px;
    width: 150px;

    border-radius: 4px;
    margin: 10px;
}

.image-wrapper, .image-wrapper-no-click {
    height: 130px;
    width: 150px;
}

.image-wrapper:hover, .delete-product:hover, .edit-product:hover {
    cursor: pointer;
}

.product-wrapper img {
    width: 100%;
    height: 85%;
    margin-top: 10px;
    border-radius: 4px;
}

.image-wrapper .False {
    opacity: 0.5;
}

.product-wrapper a {
    height: 30px;
}

.product-wrapper div {
    text-align: center;
    font-family: 'Kalam', sans-serif;
    min-height: 55px;
    margin-top: -5px;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
}

.delete-product {
    color: indianred;
}

.edit-product {
    color: forestgreen;
}

#available-True {
    display: none
}

#available-False {
    display: block;
    position: absolute;
    font-size: 100px;
    color: indianred;
    margin-left: 50px;
    margin-top: -110px;
}

.zoom-in-out-icon {
    color: darkblue;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
}

.large {
    transform: scale(2.5);
    background-color: white;
}

.upper-buttons-wrapper {
    display: block;
}


.burger-btn-wrapper {
    display: none;
    margin: 50px;
}

.btn-wrapper-links {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: fit-content;
    box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
    padding: 10px;
    position: absolute;
    margin-top: -35px;
    margin-left: 40px;
    background-color: white;
}

.drop-down-menu-closebtn {
    color: indianred;
    font-size: 40px;
    margin-left: 15px;

}

@media all and (max-width: 800px) {
    .content-container {
        display: flex;
        margin: 0 30px;
        flex-direction: column;
    }

    .upper-buttons-wrapper {
        display: none;
    }
    .burger-menu-upper-buttons {
    display: block;
    margin: 50px;
    color: darkblue;
    font-size: 40px;
}


    .fridge-wrapper, .pantry-wrapper {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        margin: 10px;
        flex-direction: column;
        box-shadow: 0px 0px 5px 0px rgba(57, 145, 181, 0.75);
        border-radius: 4px;

    }

    .zoom-product-wrapper {
        transform: scale(0.8);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    }

    .add-product-popup {
        display: none;
        font-family: 'Kalam', sans-serif;
        width: 300px;
        padding: 50px;
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: fixed;
        left: 28px;
        top: 250px;
        z-index: 1;
    }

    .edit-create-product {
        display: none;
        transform: scale(0.5);
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: relative;
        top: -140px;
        left: -70px;
    }
}

@media all and (max-width: 630px) {

    .add-product-popup {
        display: none;
        font-family: 'Kalam', sans-serif;
        transform: scale(0.8);
        padding: 50px;
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: fixed;
        left: 28px;
        top: 240px;
        z-index: 1;
    }


}

@media all and (max-width: 540px) {

    .add-product-popup {
        display: none;
        font-family: 'Kalam', sans-serif;
        transform: scale(0.8);
        padding: 50px;
        box-shadow: 0px 1px 5px 0px rgba(247, 176, 187, 0.75);
        border-radius: 4px;
        background-color: white;
        position: fixed;
        left: 28px;
        top: 270px;
        z-index: 1;
    }
}


