{% extends 'common/base.html' %}
{% load static %}
{% block site_style %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <link rel="stylesheet" href="{% static 'style/add_product.css' %}">
{% endblock %}

{% block site_content %}
    <article class="info-about-site">
        <p class="text-main">Are you tired of trying to remember what you are missing in your Fridge and Pantry?</p>
        <p class="text-muted">Now you can keep easily up-to-date availability status of your groceries at home </p>
        <p class="text-main">Tired of trying to remember what was the brand of that great cheese you bought last
            week?</p>
        <p class="text-muted">Make a photo of your favourite product and brand and add your own products</p>
    </article>
    {% include 'partials/default-add-save-reset-buttons.html' %}
    <div class="content-container">

        <section class="fridge-wrapper">
            <h3>My Fridge</h3>
            <section class="meat">
                {% for prod in meat %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="dairy">
                {% for prod in dairy %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="sea-food">
                {% for prod in sea_food %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>

            <section class="vegetables">
                {% for prod in vegetables %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="fruits">
                {% for prod in fruits %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="drinks">
                {% for prod in drinks %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
        </section>
        <section class="pantry-wrapper">
            <h3>My Pantry</h3>
            <section class="pasta">
                {% for prod in pasta %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
                    <section class="sweets">
                {% for prod in sweets %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="alcohol">
                {% for prod in alcohol %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="jars">
                {% for prod in jars %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="cans">
                {% for prod in cans %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>

            <section class="seasoning">
                {% for prod in seasoning %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
            <section class="others">
                {% for prod in others %}
                    {% include 'partials/product_default.html' %}
                {% endfor %}
            </section>
        </section>
    </div>
    <script src="{% static 'javascript/js_default_page.js' %}"></script>
{% endblock %}